@import "tailwindcss";
@plugin "daisyui";

@keyframes jiggle {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    75% { transform: translateX(3px); }
  }
  
  .animate-jiggle {
    animation: jiggle 0.2s ease;
  }